# Postgres (pooled) connection string
# Used by the application layer, and should be configured use connection pooling (pgbouncer) in prod
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres?pgbouncer=true"

# Postgres direct connection string
# Used by Prisma for migrations
DIRECT_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
